[Desktop Entry]
Type=Application
Name=PCIMS
GenericName=PC Inventory Manager
Comment=Manage PC components, assemblies, purchases, and sales
Exec="@PCIMS_PYTHON@" -m pcims.app.application
TryExec=@PCIMS_PYTHON@
Icon=computer
Terminal=false
Categories=Office;Utility;
StartupNotify=true
